/* styles for my resume */

/*font, font size, and color for body, heaader, and paragrphs */

BODY {
  font-family: 'Open Sans',Arial,sans-serif;
  font-size: 1em;
  color: #444;

}

/* style for my name */
H1 {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;

}

/* capitalizing title, chnaging color and font size*/
TITLE {
  font-size: 1.5em;
  text-transform: uppercase;
  color: #33485e;

}

/* styling for section titles*/
H2 {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: #fff;
  font-weight: 400;
}

/* styling for job titles  */
H3 {
  font-weight: 600;
  font-size: 1.5em;

}

/* styling for job organization */
H4 {
  font-weight: 400;
  font-size: 1em;
}

/*styling for job dates */
H5 {
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
}
