/* styles for my resume */

/*font, font size, and color for body, heaader, and paragrphs */

BODY {
  font-family: 'Open Sans',Arial,sans-serif;
  font-size: 1em;
  color: #444;

}

#container {

width : 100%;
max-width : 1200px;
margin : 0 auto;
padding-bottom : 50px;

}
/* style for my name */
#name {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  border-bottom : 1px #33485e;
  width : 60%;
  min-width : 300px;
  margin : 0 auto;

}

/* capitalizing title, chnaging color and font size*/
TITLE {
  font-size: 1.5em;
  text-transform: uppercase;
  color: #33485e;

}

/* styling for section titles*/
#sectionheader {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: #fff;
  font-weight: 400;
  margin-bottom : 10px;
  margin-top : 20px;
  margin-right : 0;
  margin-left : 0;
  width  70%;
  min-width : 300px;
}

/* styling for job titles  */
.jobtitle {
  font-weight: 600;
  font-size: 1.5em;

}

/* styling for job organization */
.organization {
  font-weight: 400;
  font-size: 1.25em;
}

/*styling for job dates */
.date {
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
  margin-top : 2px;
  margin-bottom : 0;
  margin-right: 0;
  margin-left: 0;
}

/*styling for job descriptions */
.description {
  margin-top : 10px;
  margin-bottom : 10px;
  margin-right : 0px;
  margin-left : 0px;
}

/*styling for contact info list */
.menu {
  margin : 0px 0px 0px 0px;
  padding : 0px 0px 0px 0px;
  text-align : center;
  display : inline;
}

/*styling for education section list */
#degrees {
  margin-top : 5px;
  margin-bottom : 0px;
  margin-right : 0px;
  margin-left : 0px;
}

/*styling for skills section list */
#do {
  margin-top : 5px;
  margin-bottom : 0px;
  margin-right : 0px;
  margin-left : 0px;
}

/*styling for my title */
#title {
  fint-weight : 600;
  text-align : center;
  margin-top : 20px;
  margin-bottom : 0px;
  margin-right : 0px;
  margin-left : 0px;
}

/*styling for mission statement */
.top {
  width : 60%;
  min-width : 300px;
  margin : 0 auto;
  margin-bottom : 30px;
}
