/*serif font for main headline text*/
h1{
font-family: Arial;
font-size: 1.5em;
font-color: blue;
}

/*serif font for subheadline text*/
h2{
font-family: Arial;
font-size: 1em;
}

/*serif font for paragraph text*/
p{
font-family: Arial;
font-size: 1em;
}
